body {
  font-family: 'Sanchez', serif;
  background: #1a1a1d;
  color: #ffffff;
}

.blurb h2 {
  /* color: #2C3A47; */
  font-size: 2.5rem;
  font-weight: 100;
}

.blurb p {
  /* color: #2C3A47; */
  font-size: 1.25rem;
  font-weight: 100;
  line-height: 2;
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
}

#mainnavbar {
  font-size: 1.2rem;
  font-weight: 100;
  font-style: normal;
  background: #1a1a1d;
}

.navbar.scrolled {
  transition: 500ms;
  /* background: #4e4e50; */
}

#mainnavbar .nav-link {
  color: #c3073f;
}

#mainnavbar .nav-link:hover {
  color: #6f2232;
}

#mainnavbar .navbar-brand {
  color: #c3073f;
  font-size: 1.4rem;
}

#footer {
  position: relative !important;
  padding-top: 20px;
  /* background-color: #4e4e50; */
  font-size: 1rem;
  
}
#footer .colorhr{
  background-color: #c3073f;
}
#footer h6{
  color: #c3073f;
}

#footer a {
  color: #c3073f;
}
#footer a:hover{
  color: #ffffff;
}
#formFill {
  font-size: 1.2rem;
}

.headhighlight{
  color: #c3073f;
}